{% extends "about/base.html" %}

{% block content %}
<div class="container">
    {% if user.is_superuser %}
        <p><h1>Closed Driver Applications to OnlyDrivers</h1></p>
    {% elif profile.is_sponsor %}
        <p><h1>Closed Applications to {{sponsor.sponsor_name}}</h1></p>
    {% elif profile.is_driver %}
        <p><h1>Your Closed Applications</h1></p>
    {% endif %}

    <ul class="list-group">
        {% for result in results %}
            {% if result.is_approved %}
                <li class="list-group-item d-flex justify-content-between align-items-center application-item">
                    <div>
                        <strong>{{ result.driver.user.username }}'s Application to {{ result.sponsor_name }}</strong>
                        <strong style="color: rgb(50, 205, 50); margin-left: 10px;">( Approved )</strong>
                    </div>
                    <a href="{% url "application_review" result.id %}" class="btn btn-secondary" role="button">Review Application</a>
                </li>
            {% else %}
                <li class="list-group-item d-flex justify-content-between align-items-center application-item">
                    <div>
                        <strong>{{ result.driver.user.username }}'s Application to {{ result.sponsor_name }}</strong>
                        <strong style="color: rgb(255, 0, 0); margin-left: 10px;">( Denied )</strong>
                    </div>
                    <a href="{% url "application_review" result.id %}" class="btn btn-secondary" role="button">Review Application</a>
                </li>
            {% endif %}
        {% empty %}
            <li class="list-group-item">
                <strong>No closed applications available</strong>
                {% if profile.is_driver %}
                    <a href="{% url "application_form" %}" class="btn btn-outline-secondary mt-3" role="button">Apply Here</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url "application_list" %}" class="btn btn-outline-primary mt-3" role="button">Back</a>
</div>
{% endblock %}
