{% extends "about/base.html" %}
{% load widget_tweaks %}

{% block content %}
    {% if profile.is_sponsor or user.is_superuser %}
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="shadow p-4 bg-body rounded">
                        <h1 class="text-center">Edit {{ application.driver.user.username }}'s Application to {{ application.sponsor_name }}</h1>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-3">
                                    {{ field|add_class:"form-control" }}
                                </div>
                            {% endfor %}
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-secondary">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container mt-4">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p class="text-center">There has been an error, please log in and try again.</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
{% endblock %}
