{% extends "about/base.html" %}

{% block content %}
    <div class="container mt-2 ps-md-0 pe-md-2">
        {% if application.is_open %}
            {% if profile.is_driver %}
                <h1 class="text-center">Application to {{ application.sponsor_name }} ( --OPEN-- )</h1>
            {% elif profile.is_sponsor %}
                <h1 class="text-center">{{ application.driver.user.username }}'s Application</h1>
            {% elif user.is_superuser %}
                <h1 class="text-center">{{ application.driver.user.username }}'s Application</h1>
            {% endif %}
        {% else %}
            {% if profile.is_driver %}
                <h1 class="text-center">Application to {{ application.sponsor_name }} ( --CLOSED-- )</h1>
            {% else %}
                <h1 class="text-center">{{ application.driver.user.username }}'s Application</h1>
            {% endif %}
        {% endif %}
        <div class="shadow p-4 bg-body rounded">
            {% if not application.is_open  %}
                {% if application.is_approved %}
                    <div class="mt-2">
                        Application Status: <strong style="color: rgb(50, 205, 50);">Approved</strong><a href="{% url "application_edit" application.id %}" class="btn btn-secondary float-end" role="button">Edit Application</a>
                    </div>
                {% elif application.is_waitlisted %}
                    <div class="mt-0">
                        Application Status: <strong class="text-secondary">Waitlisted</strong><a href="{% url "application_edit" application.id %}" class="btn btn-secondary float-end" role="button">Edit Application</a></br>
                        Reason: <strong>{{ application.application_reason }}</strong>
                    </div>
                {% elif not application.is_approved %}
                    <div class="mt-0">
                        Application Status: <strong style="color: rgb(255, 0, 0);">Denied</strong><a href="{% url "application_edit" application.id %}" class="btn btn-secondary float-end" role="button">Edit Application</a></br>
                        Reason: <strong>{{ application.application_reason }}</strong>
                    </div>
                {% endif %}
                <p>Application Date: <strong>{{ application.date_created }}</strong></p>
            {% else %}
                <p>Application Date: <strong>{{ application.date_created }}</strong><a href="{% url "application_edit" application.id %}" class="btn btn-secondary float-end" role="button">Edit Application</a></p>
            {% endif %}
            
            <div class="mt-2">
                <h2>Driver's Information</h2>
                <p>First Name: {{ application.first_name }}</p>
                <p>Last Name: {{ application.last_name }}</p>
                <p>Middle Initial: {{ application.middle_initial }}</p>
                <p>Email: {{ application.email }}</p>
                <p>Phone Number: {{ application.phone }}</p>
            </div>
            <div class="mt-4">
                <h2>Driver's Address Information</h2>
                <p>Street Address: {{ application.street_address }}</p>
                <p>City: {{ application.city }}</p>
                <p>State: {{ application.state }}</p>
                <p>Zip Code: {{ application.zipcode }}</p>
            </div>
            <div class="mt-4">
                <h2>Vehicle Information</h2>
                <p>Driver's License Number: {{ application.license_num }}</p>
                <p>Plate Number: {{ application.plate_num }}</p>
                <p>Vehicle Year: {{ application.year }}</p>
                <p>Vehicle Make: {{ application.make }}</p>
                <p>Vehicle Model: {{ application.model }}</p>
                <p>VIN: {{ application.vin }}</p>
                <p>Insurance Provider: {{ application.provider_name }}</p>
                <p>Policy Number: {{ application.policy_number }}</p>
            </div>
        </div>
    </div>
    {% if application.is_open %}
        {% if profile.is_sponsor or user.is_superuser %}
            <div class="mt-4">
                <a href="{% url "application_approve" application.id %}" class="btn btn-success" role="button">Approve Application</a>
                {% if not application.is_waitlisted %}
                    <a href="{% url "application_waitlist" application.id %}" class="btn btn-outline-secondary" role="button">Waitlist Application</a>
                {% endif %}
                <a href="{% url "application_deny" application.id %}" class="btn btn-danger" role="button">Deny Application</a>
            </div>
        {% endif %}
        <div class="mt-4">
            <a href="{% url "application_list" %}" class="btn btn-outline-primary" role="button">Back</a>
        </div>
    {% else %}
        {% if user.is_superuser %}
            <div class="mt-4">
                <a href="{% url "application_waitlist" application.id %}" class="btn btn-secondary" role="button">Waitlist Application</a>
            </div>
        {% endif %}
        <div class="mt-4 mb-4">
            <a href="{% url "application_closed" %}" class="btn btn-outline-primary" role="button">Back</a>
        </div>
    {% endif %}
{% endblock %}
