{% extends "about/base.html" %}

{% block content %}
<div class="container">
    {% if user.is_superuser %}
        <h1>Applications to OnlyDrivers</h1>
    {% elif sponsor.is_sponsor %}
        <h1>Applications to {{sponsor.sponsor_name}}</h1>
    {% elif profile.is_driver %}
        <h1>Your open applications</h1>
    {% endif %}
    
    <div class="list-group">
        {% for result in results %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ result.driver.user.username }}'s Application to {{ result.sponsor_name }}:</strong>
                </div>
                <div>
                    {% if not result.is_waitlisted %}
                        <a href="{% url "application_review" result.id %}" class="btn btn-secondary" role="button">Review Application</a>
                    {% else %}
                        <strong class="text-secondary">( Waitlisted )</strong>
                        <a href="{% url "application_review" result.id %}" class="btn btn-secondary" role="button">Review Application</a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="list-group-item">
                {% if user.is_superuser %}
                    <strong>No open applications to OnlyDrivers</strong>
                {% elif sponsor.is_sponsor %}
                    <strong>No open applications for {{sponsor.sponsor_name}}</strong>
                {% elif profile.is_driver %}
                    <strong>No open applications</strong>
                    <a href="{% url "application_form" %}" class="btn btn-outline-secondary float-end" role="button">Apply Here</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-4">View Closed Applications</h2>
    <a href="{% url "application_closed" %}" class="btn btn
    -secondary" role="button">Closed Applications</a>
    <p></p>
    <a href="{% url "dashboard" %}" class="btn btn-outline-primary" role="button">Back</a>
</div>
{% endblock %}
