{% extends "about/base.html" %}

{% block content %}
{% if profile.is_driver %}
    <h1>Please confirm that you would like to leave {{ sponsor.sponsor_name }}.</h1>
    <p></p>
    <div class="mx-auto"><a href="{% url "leave_sponsor" sponsor_id %}" class="btn btn-outline-warning float-none" role="button">Leave Sponsor</a></div>
    <p></p>
{% endif %}
<p></p>
<div class="mx-auto"><a href="{% url "sponsors_list" %}" class="btn btn-outline-primary float-none" role="button">Back</a></div>
<p></p>
{% endblock %}