{% extends "about/base.html" %}

{% block content %}
    {% if profile.is_driver %}
        <div class="container mt-4">
            <h1 class="mb-4">Want to leave a current sponsor?</h1>
            <ul class="list-group">
                {% for sponsor, sponsor_id in sponsors_and_sponsor_ids %}
                    <li class="list-group-item d-flex justify-content-between align-items-center mb-0">
                        {{ sponsor.sponsor_name }}
                        <a href="{% url "leave_sponsor_confirm" sponsor_id %}" class="btn btn-secondary" role="button">Leave</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="container mt-4">
        <a href="{% url "dashboard" %}" class="btn btn-outline-primary" role="button">Back</a>
    </div>
{% endblock %}
