{% extends "about/base.html" %}

{% block content %}
{% if profile.is_driver %}
    <div class="shadow w-50 p-4 mx-auto bg-body rounded">      
        <h1>{{ driver.user.username }}'s Driver Profile</h1>
        <p>First Name: {{ driver.first_name }}</p>
        <p>Middle Initial: {{ driver.middle_initial }}</p>
        <p>Last Name: {{ driver.last_name }}</p>
        <p>Phone Number: {{ driver.phone_number }}</p>
        <p>Email: {{ driver.email }}</p>
        <p>Date of Birth: {{ driver.date_of_birth }}</p>
        <p>Street Address: {{ driver.street_address }}</p>
        <p>City: {{ driver.city }}</p>
        <p>State: {{ driver.state }}</p>
        <p>ZIP Code: {{ driver.zipcode }}</p>
        <p>Driver's License: {{ driver.drivers_license }}</p>

        <h2>Sponsors:</h2>
        <ul>
            {% for sponsor in sponsors %}
            <p><li>{{ sponsor.sponsor_name }}</li></p>
            
            {% empty %}
                <p><li>No sponsors for {{driver.user.username}}</li></p>
            {% endfor %}
        </ul>

        <h2>Vehicle Information</h2>
        <p>Vehicle Year: {{ driver.year }}</p>
        <p>Vehicle Make: {{ driver.make }}</p>
        <p>Vehicle Model: {{ driver.model }}</p>
        <p>Vehicle VIN: {{ driver.vin }}</p>
        <p>Insurance Provider: {{ driver.provider_name }}</p>
        <p>Insurance Policy Number: {{ driver.policy_number }}</p>

        <h2>Emergency Contact</h2>
        <p>Name: {{ driver.emergency_contact_name }}</p>
        <p>Phone: {{ driver.emergency_contact_phone }}</p>
    </div>
    </br>
{% elif profile.is_sponsor %}
    <div class="shadow w-50 p-4 mx-auto bg-body rounded">
        <h1>Your Sponsor Profile</h1>
        <p>Username: {{ user.username }}</p>
        <p>First Name: {{ profile.first_name }}</p>
        <p>Last Name: {{ profile.last_name }}</p>
        <p>Middle Initial: {{ profile.middle_initial }}</p>
        <p>Email: {{ profile.email }}</p>
        <p>Sponsor Organizaton: {{ sponsor_user.sponsor_name }}</p>
    </div>
    </br>
    <!-- You can add more fields as you expand the UserProfile model -->
{% elif user.is_superuser %}
    <div class="shadow w-50 p-4 mx-auto bg-body rounded">
        <h1>Your Admin Profile</h1>
        <p>Username: {{ user.username }}</p>
        <p>First Name: {{ profile.first_name }}</p>
        <p>Last Name: {{ profile.last_name }}</p>
        <p>Middle Initial: {{ profile.middle_initial }}</p>
    </div>
    </br>
    
{% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        There has been an error, please log in and try again.
        <button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
{% endif %}
<div class="w-50 mx-auto"><a href="{% url "edit_profile" %}" class="btn btn-secondary" role="button">Edit Profile</a></div>
<p></p>
<p></p>
{% endblock %}
