{% extends "about/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Choose Catalog</h1>
            <form method="post" class="border rounded p-4 bg-light">
                {% csrf_token %}
                <p></p>
                <div class="form-group">
                    <label for="id_sponsor_choices">Select Sponsor:</label>
                    {{ form.sponsor_choices|add_class:"form-control" }}
                </div>
                <p></p>
                <p></p>
                <div class="text-center">
                    <button type="submit" class="btn btn-secondary">Select Sponsor</button>
                </div>
                <p></p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}