{% extends "about/base.html" %}

{% block content %}
<div class="p-2 bg-body rounded">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-8">
                {% if profile.is_driver %}
                    <h1 class="mb-4 text-center">{{ sponsor.sponsor_name }}'s Driver Catalog</h1>
                {% elif profile.is_sponsor %}
                    <h1 class="mb-4 text-center">{{ sponsor.sponsor_name }}'s Catalog</h1>
                {% elif user.is_superuser %}
                    <h1 class="mb-4 text-center">OnlyDrivers Catalog</h1>
                {% endif %}    
                <form action="{% url 'search_catalog' %}" method="GET">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search...">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="content" class="container mt-5">
    {% if products %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ product.image }}" class="card-img-top" alt="{{ product.title }} cover">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">Artist: {{ product.artist }}</p>
                            <p class="card-text">Genre: {{ product.genre }}</p>
                            <p class="card-text">
                                {% if profile.is_driver %}
                                    Points: {{ product.price }}
                                {% else %}
                                    Points: ${{ product.price }}
                                {% endif %}
                            </p>
                            <a href="{% url 'view_item' %}?title={{ product.title|urlencode }}&artist={{ product.artist|urlencode }}&image={{ product.image|urlencode }}&genre={{ product.genre|urlencode }}&price={{ product.price }}" class="btn btn-secondary">View Item</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elif term == '' %}
        <p class="text-center text-danger fw-bold">Please enter a search term.</p>
    {% else %}
        <p>No products found.</p>
    {% endif %}

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</div>

{% endblock %}
